body { margin: 0; padding: 0; border: 0; }

#gap-1 { height: 25px; }
#gap-2 { height: 60px; }
#gap-3 { height: 60px; }
#gap-4 { height: 80px; }
#gap-5 { height: 30px; }
#gap-6 { height: 20px; }
#gap-7 { height: 10px; }

#wrap-1 {
	text-align: center;
}
#div-1 {
	width: 1000px;	
	text-align: left;
	display: inline-block;
}
#img-logo-1 { height: 28%; width: 28%; }
#name-1 {
	font-family: "Impact";	
	font-weight: 1;
	letter-spacing: 1px;
	font-size: 250%;
	color: #143975; 
	opacity: 92%;
	display: inline;
	position: relative;
	bottom: 30px;
	left: 32px;
}

#img-back {		
	position: relative;
	z-index: -2;
	margin: 0; padding: 0; border: 0;
	background-color: #E0E0E0;
	height: 400px;
	box-shadow: 0px 30px 24px -24px #A5A5A5;
}

#wrap-2 {
	margin: 0; padding: 0; border: 0;
	text-align: center;	
	height: 400px;
}
#div-2 {
	margin: 0; padding: 0; border: 0;
	width: 1000px;	
	text-align: left;
	display: inline-block;
	position: relative;
	top: -414px;	
}
#img-img1 { 
	height: 400px; width: 100%;	
	position: absolute;
	opacity: 0;		
}
#img-img2 {		
	height: 400px; width: 100%;	
	position: absolute;
	opacity: 0;
}
#img-img3 {		
	height: 400px; width: 100%;	
	position: absolute;
	opacity: 0;
}
#r-a {	
	position: absolute;
	z-index: 2;
	top: 150px;
	left: 948.5px;
	background: #414141;
	color: white;
	padding-right: 18px;
	padding-left: 18px;
	padding-top: 5px;
	padding-bottom: 10px;
	opacity: 0;
	font-size: 300%;	
}
#l-a {
	position: absolute;
	z-index: 2;
	top: 150px;
	left: 0px;
	background: #414141;
	color: white;
	padding-right: 18px;
	padding-left: 18px;
	padding-top: 5px;
	padding-bottom: 10px;
	opacity: 0;
	font-size: 300%;	
}
#div-3 {
	width: 1000px;
	text-align: left;
	display: inline-block;
	position: relative;
	top: -14px;	
}
#div-3 * {
	text-decoration: none;
	font-family: "Candara";
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
	color: black;
	opacity: 92%;		
}
#home { background: #143975; color: white; }
#academics { position: relative; left: -4px; }
#campus-life { position: relative; left: -8px; }
#alumni { position: relative; left: -12px; }
#admissions { position: relative; left: -16px; }
#engage { position: relative; left: -20px; }

#home-drop {	
	position: absolute;	
	width: 200px;
	height: 25px;		
	text-align: left;	
  	right: 0;
  	left: 0;
  	margin-left: auto;
  	margin-right: auto;
  	padding: 15px;
  	z-index: 3;  	
	background-color: #484848;
	right: 800px;
	top: 33px;
 	display: none;
}
#home-drop * {
	text-decoration: none;
	font-family: "Candara";	
	color: white;		
}

#div-6 * {	
	margin: 0; padding: 0; border: 0;
	height: 40px;
	width: 100px;
	opacity: 0;
}
#div-6 {
	margin: 0; padding: 0; border: 0;
	z-index: 2;
	position: relative;
	display: inline-block;	
	width: 316px;
	height: 40px;
	background-color: #E7E7E7;
	padding-top: 4px;
	opacity: 0;
	bottom: 62px;
}

#wrap-3 {
	text-align: center;	
}
#div-4 {
	width: 1000px;	
	text-align: left;
	display: inline-block;

}
#not-head {
	font-family: "impact";
	font-weight: 1;
	letter-spacing: 1px;
	font-size: 250%;
	color: #5B5A5A;
}
#not * {
	font-family: "Candara";
	font-size: 120%;
	color: #5B5A5A;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-right:20px;
}
#not {
	overflow-y: scroll;
	height: 500px; 

}
.not-img {
	margin: 10px;	
}

#wrap-4 {
	text-align: center;	
}
#div-5 {
	width: 1000px;	
	text-align: left;
	display: inline-block;
	position: relative;
	top: 25px;
}
#div-5 * {
	display: inline;
	color: #F5F5F5;
	text-decoration: none;
	font-family: "Candara";	
	letter-spacing: 0.6px;
}
#f-insta {
	position: relative;
	top: 6px;
	height: 1.9%;
	width: 1.9%;
}
#f-fb {
	position: relative;
	top: 6px;
	height: 1.87%;
	width: 1.87%;
}
#f-yt {
	position: relative;
	top: 6px;
	height: 2.4%;
	width: 2.4%;
}
#f-tw {
	position: relative;
	top: 6px;
	height: 2%;
	width: 2%;
}
#div-cr {
	text-align: center;	
}
#cr {
	left: -10px;
	width: 1000px;	
	text-align: left;
	display: inline-block;
	position: relative;
	top: 48px;
	color: #A0A0A0;
}
#foot {	
	background-color: #575757;
	height: 620px;	
}

#wrap-5 {
	text-align: center;	
}
#div-7 {
	width: 1000px;	
	text-align: left;
	display: inline-block;	
}
#div-7 * {
	font-size: 100%;
	text-decoration: none;	
	font-family: "Candara";
	letter-spacing: 0.6px;
	color: #F5F5F5;
	width: 230px;
}

#div-8 {
	float: left;
	margin:10px;	
}
#div-9 {
	float: left;
	margin:10px;
}
#div-10 {
	float: left;
	margin:10px;
}
#div-11 {
	float: left;
	margin:10px;
}
.list-down {
	margin: 0px;	
	margin-left: 18px;	
	padding: 0;	
}
.list-down * {
	margin-bottom: 5px;
}
.list-down-2 {
	margin: 0px;
	margin-left: 18px;
	padding: 0;
}
#wrap-6 {	
	text-align: center;
	height: 100px;
	width: 100%;		
}
#div-12 {
	width: 1000px;	
	text-align: left;	
	display: inline-block;	
	height: 100px;
}
#div-13 {
	margin: 30px;
	float: right;
}
#div-14 {
	color: #F5F5F5;
	float: left;
	margin: 30px;
	font-family: "Candara";
	font-size: 120%;
	letter-spacing: 1px;
}
#search-img {
	height: 20px;
	position: relative;
	right: 3px;
	top: 5px;
}
#direct-search-page {
	float: left;
	margin-left: 30px;
	position: relative;
	bottom: 15px;
	color: #F5F5F5;
	font-family: "Candara";
	letter-spacing: 0.5px;
}